
# Pycharm related
*.idea

# Python related
*.ipynb_checkpoints/
*.ipynb
*.egg-info/
build/
.jupyter.log
__pycache__/
.venv/
.flake8

# Misc
env_simple.yml
report.xml
notes.md
.envrc
tags
*.swp
*.pkl

