
# Pycharm related
*.idea

# Python related
*.ipynb_checkpoints/
*.ipynb
*.egg-info/
build/
.jupyter.log
.venv/
.tox/
.flake8
__pycache__/

# Misc
Output/
copy_to_cluster.sh
requirements.txt
env_simple.yml
conda_env.yml
conda_env_simple.yml
report.xml
notes.md
tags
.envrc
*.swp
*.pkl

