annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
certifi==2023.7.22
cobra==0.29.0
depinfo==2.2.0
diskcache==5.6.3
exceptiongroup==1.1.3
future==0.18.3
h11==0.14.0
httpcore==1.0.1
httpx==0.25.1
idna==3.4
importlib-resources==6.1.1
markdown-it-py==3.0.0
mdurl==0.1.2
mpmath==1.3.0
numpy==1.26.1
optlang==1.8.1
pandas==2.1.2
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
python-dateutil==2.8.2
python-libsbml==5.20.2
pytz==2023.3.post1
rich==13.6.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
six==1.16.0
sniffio==1.3.0
swiglpk==5.0.8
sympy==1.12
typing_extensions==4.8.0
tzdata==2023.3
